<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <link rel="stylesheet" type="text/css" crossorigin="anonymous"
          href="http://meta-kage.kakaocdn.net/dn/osa/blog/assets/fonts/Kakao.css"/>
    <link rel="stylesheet" type="text/css" crossorigin="anonymous"
          href="http://meta-kage.kakaocdn.net/dn/osa/blog/assets/fonts/NotoSansKR.css"/>
    <link rel="stylesheet" type="text/css" crossorigin="anonymous"
          href="http://meta-kage.kakaocdn.net/dn/osa/blog/assets/fonts/SpoqaHanSans.css"/>

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
